:root {
  --red-300: #dc2b1b;
  --red-200: #ffc3b7;
  --red-100: #fff3f0;

  --yellow-300: #9a7400;
  --yellow-200: #efd59c;
  --yellow-100: #fff7df;

  --purple-300: #7b3fff;
  --purple-200: #d3cdff;
  --purple-100: #f4f2ff;

  --brightness-500: #09090a;
  --brightness-400: #a5a9b8;
  --brightness-300: #e1e4f0;
  --brightness-200: #f5f6fa;
  --brightness-100: #ffffff;

  --overlay: rgba(9, 9, 10, 0.4);
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;

  font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.16px;
  line-height: 1.4;

  color: #09090a;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  all: unset;
}

img {
  vertical-align: middle;
}

a {
  all: unset;
  cursor: pointer;
}

react-loading-skeleton {
  margin-top: 8px !important;
}

.ReactModal__Overlay {
  opacity: 0;
  transform: scale(1.1);
  transition: all 100ms ease;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transform: scale(1);
}

.ReactModal__Overlay--before-close {
  opacity: 0;
  transform: scale(1.1);
}

.go685806154 {
  display: none !important;
}

.react-tiny-popover-container {
  z-index: 1;
}
